
.buttonStyle {
  display: inline-block;
  padding: 8px 10px 5px;

  font-family: 'Porto', sans-serif;
  font-weight: bold;
  color: #7f7f7f;

  background: #ECECEC;
  border-radius: 15px;

  text-shadow: 0px 1px 0px #fff;
  border: 1px solid #a7a7a7;
  box-shadow:
    0px 2px 1px white inset,
    0px 2px 5px rgba(0, 0, 0, 0.1);
}
