
.containerStyle {
  border: 1px solid black;
  height: 100px;
  margin: 5px 0 5px 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
.emojiStyle {
  width: 100px;
  height: 100px;
  font-size: 50px;

  background: repeating-linear-gradient(
    45deg,
    white,
    white 5px,
    black 5px,
    black 6px
  );

  display: flex;
  align-items: center;
  justify-content: center;
}
.emojiStyle img {
  width: auto;
  max-width: 80px;
  max-height: 80px;
  margin: 10px;
}

.contentStyle {
  flex: 1;
  padding: 10px;
}
.contentStyle::first-line {
  font-family: 'Diamonds';
}
