
.containerStyle {
  border: 1px solid black;
  height: 100px;
  margin: 5px 0 5px 0;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.contentStyle {
  flex: 1;
  flex-grow: 1;
  padding: 10px;
  font-family: 'Porto', sans-serif;
}
.contentStyle::first-line {
  font-size: 1.2em;
}

/* transitions */
/*
  easing is easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
  from <http://easings.net/#easeOutQuint>

  .containerStyle is at root of the animation (hence .enter.containerStyle)
*/

/*
  on enter, container will "burst" open (500ms) and the emoji will expand to
  its square width (250ms delay + 500ms)

  total duration 1000ms
*/
.enter.containerStyle {
  height: 1px;
  transition: height 500ms cubic-bezier(0.23, 1, 0.32, 1);
}
.enter.enterActive.containerStyle {
  height: 100px;
}

/*
  on leave, emoji will expand out to 100% (500ms) and the container will
  fold down. ideally around a similar time as new containers expand out

  total duration 1000ms
*/
.leave.containerStyle {
  height: 100px;
  opacity: 1;
  transform: translateY(0px);

  transition:
    height 500ms 250ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 500ms 250ms cubic-bezier(0.23, 1, 0.32, 1),
    opacity 250ms 500ms ease-out;
}
.leave.leaveActive.containerStyle {
  height: 1px;
  margin: 0px;
  opacity: 0.01;
  transform: translateY(-3px);
}
.leave.containerStyle + .containerStyle {
  margin-top: 5px;
}
.leave.leaveActive.containerStyle + .containerStyle {
  margin-top: -3px;
  transition:
    margin-top 250ms 500ms ease-out;
}
.leave .contentStyle {
  opacity: 1;
  max-width: 200px;

  transition:
    opacity 300ms cubic-bezier(0.23, 1, 0.32, 1),
    padding 300ms ease-out,
    max-width 300ms ease-out;

}
.leave.leaveActive .contentStyle {
  opacity: 0.01;
  padding: 0px;
  max-width: 1px;
}

@keyframes backgroundAnim {
  from {
    background-position: 10px 0px;
  }
  to {
    background-position: 0px 0px;
  }
}
