
.summaryStyle {
  display: block;
  font-size: smaller;
}
.summaryStyle dt {
  display: inline-block;
  text-transform: uppercase;
}

.summaryStyle dd {
  display: inline-block;
  /*font-weight: bold; */ /* fucks up emoji rendering (osx) */
  padding-right: 1em;
}
