
.summaryStyle {
  display: block;
  font-size: smaller;
}

.summaryStyle dt {
  display: inline-block;
  font-weight: bold;  /* fucks up emoji rendering tho */

}
.summaryStyle dd {
  display: inline-block;
  /*font-weight: bold; */ /* fucks up emoji rendering (osx) */
  margin: 0 1.5em 0 0.5em;
}
